body {
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
}

.wd-float-done{
    clear: both;
}

.wd-blog-menu-button {
    color: rgb(110,118,125);
    font-size: 13px;
    float: right;
}

.wd-page-menu-button {
    /*font-weight: bold;*/
    color: rgb(29,161,242);
    font-size: 20px;
}

.wd-text-title {
    font-weight: bold;
    color: white;
}

.wd-tuit-block {
    border-bottom: 1px rgb(47,51,54) solid;
    min-width: 600px;
}

.wd-tuit-content {
    float: left;
}

.wd-container {
    padding: 12px 16px 12px 16px;
    overflow: hidden;
}