.wd-page-head-bookmarks {
    border-bottom: 1px rgb(47, 51, 54) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
}


.wd-page-title {
    font-size: 20px;
    font-weight: bold;
}

.wd-page-subtitle {
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-tuit-avatar img{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-text-title {
    color: white;
    font-size: 15px;
}

.wd-text-notes {
    color: #6B747B;
    font-size: 15px;
}

.wd-text-body {
    color: white;
    font-size: 15px;
    max-width: 506px;
}

.wd-flat-container {
    padding: 0px 12px 0px 12px;
    overflow: hidden;
}

.wd-tuit-img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: rgb(110,118,125) 1px solid;
}

.wd-tuit-img-caption {
    padding: 12px;
    border-radius: 0px 0px 20px 20px;
    border: rgb(110,118,125) 1px solid;
}

.wd-tuit-img-card {
    max-width: 506px;
    max-height: 264px;
}

.wd-tuit-img-card p{
    margin: 0px 0;
}

.wd-post-operation {
    position: relative;
    float: left;
    width: 25%;
}

.wd-post-counter {
    margin: 12px;
    color: rgb(110,118,125);
}

.wd-post-counter-clicked {
    color: red;
}

.wd-post-operation a {
    text-decoration: none;
}

.wd-post-operation img {
    width: 17px;
    /*height: 18px;*/
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

